
nav {
  display:flex;
  /* align-items:center */
  justify-content:space-between;

}
nav ul{
   display:flex; 
   align-items:center;
   justify-content:center; 
} 

nav li {
  list-style:none;
  padding:0px 12px;
}
nav .logo {
  display:flex;
  align-items:center;
  font-size:1.5rem;
  font-weight:bold;
}

